llama-cpp-python==0.2.82
langchain~=0.3.5
langchain-community~=0.3.3
fake-useragent~=1.5.1
attrs
beautifulsoup4
certifi
charset-normalizer
h11
idna
lxml
outcome
PySocks
python-dateutil
pytz
requests
selenium
six
sniffio
sortedcontainers
soupsieve
trio
trio-websocket
typing_extensions
tzdata
urllib3
websocket-client
wsproto
webdriver-manager
pandas
emoji